**/server_access
**/*inegi_pob.csv
**/.ipynb_checkpoints
**/node_modules
**/s12_cassandra/node1
**/s12_cassandra/node2
**/s15_big_data_code/**/benchmarking_data.csv

**/tweets/data
**/4_sem/db_dc/data/

**/bin/*
**/build/*

**/full*.parquet

**/__pycache__/*
